<div class="container center  color_lilas_texto">
        <h4>{{detalle.nombre_raza_cat}}</h4>
      </div> 
<div class="color_lilas white-text center">
Cat&aacute;logo > {{detalle.nombre_raza_cat}} > {{detalle.nombre_toro}}
</div>
<style type="text/css">
	.row{
		    margin: 0px 5px;
	}
</style>
<div  id="container" >
        <section class="imagen center">
          <div class="row">
            <div class="col s12">
              <img class="responsive-img" src="{{detalle.imagen_toro}}">
            </div>
          </div>
        </section>
        <!-- <section class="compartir">
          <div class="row center color_lilas_texto">
            <div class="col s6">
              <i class="material-icons">star</i>
            </div>
            <div class="col s4">
              <i class="material-icons">share</i>
            </div>
            <div class="col s6" >
              <a href="mailto:laslilas@gmail.com?subject=Nueva Compra&body=Solicitud de nombre email %0A para el {{detalle.nombre_toro}} - {{detalle.nombre_raza}} %0A DOSIS ${{detalle.precio}} %0A www.laslilas.com/semen/{{detalle.nombre_toro | lowercase}}" target="_blank"><i class="material-icons pink-text text-darken-3">shopping_cart</i></a>
            </div>
          </div>
        </section>-->
<!-- desde acá ABEL -->
<section>
<div class="row grey lighten-3">
  <div class="col s6 color_lilas_texto">
    <div class="col s4"><input type="number" style="border:none;font-size:2rem;" ng-init="count=1" value="{{count}}" ng-required>
    </div>
    <div class="col s4"><a ng-click="cant_dosis('remove',count)" ng-show="botones_venta" class="btn-floating btn-small waves-effect waves-light grey darken-4"><i class="material-icons">remove</i></a>
    </div>
    <div class="col s4"><a ng-click="cant_dosis('add',count)" ng-show="botones_venta" class="btn-floating btn-small waves-effect waves-light grey darken-4"><i class="material-icons">add</i></a>
    </div>
    <div class="col s12">
      <span style="font-size:1.4rem;">Dosis: ${{detalle.precio}}</span>
      <span style="font-size:1.4rem;">Total: ${{detalle.precio * count}}</span>
    </div>
  </div>
    <div class="col s6 color_lilas_texto center-align" ng-click="agregarVenta(count)"><br>
      <a href="mailto:laslilas@gmail.com?subject=Nueva Compra&body=Solicitud de nombre email %0A para el {{detalle.nombre_toro}} - {{detalle.nombre_raza}} %0A DOSIS ${{detalle.precio}} - Cantidad: {{count}} - Total: ${{detalle.precio * count}} (los precios no incluyen IVA) %0A www.laslilas.com/semen/{{detalle.nombre_toro | lowercase}}" class="btn-floating btn-large waves-effect waves-light pink darken-3" target="_blank" ng-show="botones_venta"><i class="material-icons">shopping_cart</i></a>
      <a ng-hide="botones_venta" class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">check</i></a>
    </div>
</div>        
</section>
<div ng-hide="botones_venta" class="row center-align"><br>
  <a href="#/carrito" class="waves-effect waves-light btn"><i class="material-icons right">send</i>Ver Pedidos</a>
</div>
<br>
<!-- HASTA acá ABEL -->
        <section class="descripcion">
          <div class="row grey lighten-3">
            <div class="col s6">{{detalle.nombre_toro}}<br>F.N {{detalle.fn}}<br>HBA {{detalle.hba}}<br>SENA SA {{detalle.senasa}}<br>ADN {{detalle.adn}}</div>
           
          </div>
          <div class="row grey lighten-2 ">
            <div class="col s12">
              <b>PAN</b> {{detalle.pan}}<br>
              <b>PAD</b> {{detalle.pad}}<br>
              <b>PAF</b> {{detalle.paf}}<br>
              <b>FRAME</b> {{detalle.frame}}<br>
              <b>C.E.</b> {{detalle.ce}} CM<br>
              <b>PESO ADULTO</b> {{detalle.peso}} KG<br>
            </div>
            
          </div>
          <div class="row grey lighten-3 ">
            <div class="col s12">
              <ul>
                <li>- {{detalle.descripcion1}}</li>
                <li>- {{detalle.descripcion2}}</li>
                <li>- {{detalle.descripcion3}}</li>
              </ul>
            </div>
            
          </div>
        </section>
     
       
          <div class="row">
            <div class="col s12" style="padding: 0px;">
              <img class="responsive-img" src="{{detalle.imagen_toro2}}">
            </div>
          </div>
      
        <section class="compartir">
          <div class="row center color_lilas_texto">
            <div class="col s6">
              <i class="material-icons">star</i>
            </div>

            <div class="col s6">
              <i class="material-icons">shopping_cart</i>
            </div>
          </div>
        </section>
         </div>